body { 
background-image:url("parchment.jpg");
color: #70003D;
font-family: arial, helvetica, sans-serif;
}
h1 {
    color: white;
    text-align: center;
    
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
