span.placeName.on{color:aqua}
span.location.on{color:fuchsia}
span.persName.on{color:green}
span.orgName.on{color:orange}
span.writDocument.on{color:yellow}
span.date.on{color:purple}
span.USmilitary.on{color:brown}
span.political.on{color:lime}
span.military.on{color:white}
span.nation.on{color:gray}
span.religious.on{color:maroon}
span.note.on{color:olive}
span.quote.on{color:red}
span.city.on{color:navy}
span.state.on{color:#339933}
span.MilOfficer.on{color:#ff99cc}
span.Britain.on{color:#ff9900}
span.NativeTribe.on{color:#333300}
span.USpolitical.on{color:#99e699}
span.AmericanRevolution.on{color:#ff9966}


div{
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}