span.placeName{color:aqua}
span.location{color:fuchsia}
span.persName{color:green}
span.orgName{color:orange}
span.name{color:yellow}
span.date{color:maroon}


div{
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}